<div style="margin: 20px;" appHeader>{{dialogTitle}}</div>

<div>
  <form [formGroup]="enrollForm" (ngSubmit)="onSubmit()">
    <div class="row" style="text-align: center;">
        <div class="col">
          <mat-form-field>
            <mat-label>Seleccione Alumno</mat-label>
            <mat-select [(value)]="selectedStudent" formControlName="student">
              <mat-option *ngFor="let student of students" [value]="student.nombre+' '+student.apellido">{{student.nombre}} {{student.apellido}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <mat-label>Seleccione Curso</mat-label>
            <mat-select [(value)]="selectedCourse" formControlName="course">
              <mat-option *ngFor="let course of courses" [value]="course.nombreCurso">{{course.nombreCurso}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    </div>

    <div mat-dialog-actions class="button-actions">
      <button mat-flat-button type="button" color="primary" (click)="onCancel()">Cancelar</button>
      <button mat-flat-button type="submit" [disabled]="enrollForm.invalid">Guardar</button>
    </div>
  </form>
</div>